*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

header{


    margin-bottom: 60px;

    nav{

        background: white;
        ul{
            display: flex;
            list-style: none;
            gap: 20px;
            font-size: 1.5rem;
            justify-content: center;
            padding: 20px;
        }

        position: sticky;
        top: 0vw;
    }
    .page-title{
        background-image: url("../images/header.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
        .titel{
            background-color: red;
            width: fit-content;
            margin: auto;
            padding: 4px 10px;
        }
        
    }

    h1{
        padding: 10vw;
        text-align: center;
        background: white;
        font-size: 4rem;
        color: white;

    }

}

main{

    height: 50000px;
    .containerFilm{

        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;


    }

    .film{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .film img{
        width: auto;
        height: 500px;

        transition: transform 0.3s;
    }

    .film .title {
        margin-top: 15px;
        opacity: 0;
        transform: translateY(40%);
        transition: 0.3s;
        font-weight: bold;
    }

    .film:hover img {
        transform: scale(1.05);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    }

    .film:hover .title {
        opacity: 1;
        transform: translateY(45%);
        font-size: 1.5rem;
        background-color: cornflowerblue;
        border-radius: 20px;
        padding: 10px;
    }




}

