


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "BBH Bogle", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}



img{
    display: block;
    max-width: 100%;
    height: auto;
}

header{




    nav{

        background: white;
        ul{
            display: flex;
            list-style: none;
            gap: 20px;
            font-size: 1.5rem;
            justify-content: center;
            padding: 15px;

            
        }
        
        li.right{
            margin-left: auto;
        }
     
        .center{
            margin: auto;
        }
    

        position: fixed;
        z-index: 20;
        top: 0vw;
        width: 100vw;
    }
    .page-title{
        background-image: url("../images/header.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
        .titel{
            background-color: red;
            width: fit-content;
            margin: auto;
            padding: 4px 10px;
        }
        
    }

    h1{
        padding: 10vw;
        text-align: center;
        background: white;
        font-size: 4rem;
        color: white;

    }

}

main{
    min-height: 100vh;
    .recentFilms{
        background-color: white;
        padding: 20px;
        h2{
            text-align: center;
            color: black;
            padding: 15px;
        }

        .containerFilm{

            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-wrap: wrap;


        }

        .film{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
            margin-top: 10px;

            a{
                color: black;
                letter-spacing: 8px;
            }
        }

        .film img{
            width: auto;
            height: 500px;

            transition: transform 0.1s;
        }

        .film .title {
            margin-top: 15px;
            opacity: 0;
            transform: translateY(40%);
            transition: 0.3s;
            font-weight: bold;
        }

        .film:hover img {
            transform: scale(1.05);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
        }

        .film:hover .title {
            opacity: 1;
            transform: translateY(45%);
            font-size: 1.5rem;
            background-color: cornflowerblue;
            border-radius: 20px;
            padding: 10px;
        }

        .film:hover .title:hover{
            background-color: #646bed;
            cursor: pointer;
        }


    }

    .nextFilm{
        background-color: red;
        padding: 20px;

        .trailerNextFilm{
            display: flex;
            justify-content: center;

            gap: 5%;
            max-width: 75%;
            margin: auto;
            p{
                margin-top: 10%;
                color: white;
                font-size: 1.5rem;
                text-align: center;

            }
            
            h1{
                text-align: center;
            }

        }





    }
    
    .checkOutContainer{
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 10%;
        margin-bottom: 10%;
       
        
        
        .checkOutBox{
            display: flex;
            gap: 5%;
            flex-wrap: wrap;
            
            img{
                width: auto;
                height: 350px;
            }
            
            .comic{
                text-align: center;
            }
            
        }
    }
    
}

footer{


    background-color: #313030;

    
    .textContainerFooter{
        display: flex;
        justify-content: space-evenly;
        
        
        ul {
            
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 20px;
            list-style: none;

            
        }
        
        .list{
            text-align: center;
        }
        
    }
    
}