


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1{
    font-family: "BBH Bogle", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

#recentfilms{
    display: none;
}



img{
    display: block;
    max-width: 100%;
    height: auto;
}

header{

    nav{

        background: white;
        font-family: "BBH Bogle", sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 1px;
        ul{
            display: flex;
            list-style: none;
            gap: 20px;
            font-size: 1.5rem;
            justify-content: center;
            padding: 7px;

            li{
                a{
                    text-decoration: none;
                    background-color: cornflowerblue;
                    color: black;
                    padding: 5px;
                    border-radius: 15px;
                }
            }


        }

        li.right{
            margin-left: auto;
            padding-right: 5px;
        }

        .center{
            margin: auto;
        }


        position: fixed;
        z-index: 20;
        top: 0;
        width: 100vw;
    }
    .page-title{
        background-image: url("../images/superman/superman-film-2025-banniere-scaled.webp");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;



    }

    h1{
        padding: 10vw;
        text-align: center;
        background: white;
        font-size: 4rem;
        color: white;

    }

}

main{

    height: 150vw;
    aside{
        position: fixed;
        top: 50%;
        right: 2%;
        border: 1px solid black;
        background-color: white;
        font-size: 1.5rem;
    }

    .filmSummarize{
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        margin-left: 10%;
        gap: 30px;
        width: 75vw;

        img{

            width: auto;
            height: 500px;
        }

        .textSummarize{
            display: flex;
            flex-direction: column;
            font-family: "Roboto Light", sans-serif;
            width: 30vw;
        }
    }

    .topCastSectionBackground{
        background-color: #efeeee;
        padding-bottom: 20px;

        .topCastSection{
            h1{
              margin-left: 10%;
            }


            .topCastContainer{
                padding-top: 20px;

                ul{
                    display: flex;
                    list-style: none;
                    justify-content: space-evenly;
                    flex-wrap: wrap;

                    img{
                        width: auto;
                        height: 261px;
                        border-radius: 19px;

                    }

                    li{
                        text-align: center;
                        background-color: silver;
                        padding: 10px;
                        border-radius: 20px;
                        transition: 0.5s;
                    }

                    li span{
                        display: inline-block;
                    }

                    span{
                        opacity: 0;
                        transform: translateY(-120%);
                        transition: 0.5s;

                    }

                    li:hover span{

                        opacity: 1;
                        transform: translateY(30%);


                    }

                    li:hover{
                        transform: scale(1.05);
                    }

                }
            }
        }
    }

}